pipeline/PL_Test_Load_to_Blob.json
{
	"name": "PL_Test_Load_to_Blob",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": {
								"value": "_@{formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')}.txt",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Test_Az_DB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Target_Blob",
						"type": "DatasetReference",
						"parameters": {
							"File_Name": "dept",
							"Directory_Name": "dept",
							"Container_Name": "archived"
						}
					}
				]
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[log].[usp_UpdateErrorLogTable]",
					"storedProcedureParameters": {
						"ActivityID": {
							"value": {
								"value": "@activity('Copy data1').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityName": {
							"value": "Copy data1",
							"type": "String"
						},
						"ActivityStartTime": {
							"value": {
								"value": "@activity('Copy data1').ExecutionStartTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"BatchID": {
							"value": null,
							"type": "String"
						},
						"ErrorCode": {
							"value": null,
							"type": "String"
						},
						"ErrorDescription": {
							"value": null,
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": null,
							"type": "DateTime"
						},
						"FailureType": {
							"value": null,
							"type": "String"
						},
						"PipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Source": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Metadata",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}